<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title>tikape-foormi</title>
    <!-- Bootstrap -->
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="/css/main.css" rel="stylesheet"/>

</head>

<body>
    <div class="container" style="margin-top: 35px">
        <div class="page-header page-heading">
            <h1 class="pull-left">tikape-foormi</h1>
            <div class="clearfix"></div>
        </div>
        <p class="lead">Tietokantojen perusteet -kurssilla toteutettu ryhmätyö, jonka tavoitteena on tehdä keskustelufoorumi. Foorumin toimivina
            elementteinä ovat alue-, keskustelu- ja viestielementit.</p>
        <table class="table forum table-striped table-hover">
            <thead>
                <tr>
                    <th>
                        <h3>Alueet</h3>
                    </th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Keskustelut</th>
                    <th class="cell-stat text-center hidden-xs hidden-sm">Viestit</th>
                    <th class="cell-stat-2x hidden-xs hidden-sm">Viimeisin</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="alue: ${alueet}">
                    <td>
                        <h4><a th:href="@{~/alue/{id}(id=${alue.id})}" th:text="${alue.otsikko}">Alueen nimi</a><br></br><small th:text="${alue.kuvaus}">Joku kuvaus</small></h4>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="#">Alueen nimi</a><br></br><small>Joku kuvaus</small></h4>
                    </td>
                    <td class="text-center hidden-xs hidden-sm"><a href="#">12</a></td>
                    <td class="text-center hidden-xs hidden-sm"><a href="#">123</a></td>
                    <td class="hidden-xs hidden-sm">by <a href="#">username</a><br></br><small><i class="fa fa-clock-o"></i>Timestamp</small></td>
                </tr>
                <tr>
                    <td>
                        <h4><a href="#">Kurssit</a><br></br><small>Keskutelua yliopiston kursseista</small></h4>
                    </td>
                    <td class="text-center hidden-xs hidden-sm"><a href="#">2</a></td>
                    <td class="text-center hidden-xs hidden-sm"><a href="#">8</a></td>
                    <td class="hidden-xs hidden-sm">by <a href="#">lleevi</a><br></br><small><i class="fa fa-clock-o"></i>Eilen 12:00</small></td>
                </tr>
            </tbody>
        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#uusiAlueDialog">Uusi alue</button>
    </div>

    <!-- Modal -->
    <div id="uusiAlueDialog" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Luo uusi alue</h4>
                </div>
                <div class="modal-body">
                    <p>Tähän tehdään formi, jolla lisätään uusi alue</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
                    <button type="button" class="btn btn-primary">Luo</button>
                </div>
            </div>

        </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>

</html>