<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title th:text="${keskusteluOtsikko}">Keskustelun otsikko</title>
        <!-- Bootstrap -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" />
        <link href="/css/main.css" rel="stylesheet" />

    </head>

    <body>
        <div class="container" style="margin-top: 35px">
            <div class="page-header page-heading">
                <h1 class="pull-left" th:text="${keskusteluOtsikko}">Keskustelun otsikko</h1>
                <div class="clearfix"></div>
            </div>



            <div class="panel panel-default" th:each="viesti: ${viestit}">
                <div class="panel-heading">
                    <div class="panel-title pull-left">
                        <span th:text="${viesti.nimimerkki}">nimimerkki</span>
                    </div>
                    <div class="panel-title pull-right">
                        <span th:text="${viesti.lahetysAika}">lahetysAika</span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="panel-body">
                    <p th:text="${viesti.viesti}">Viestin sisältö<br></br></p>
                </div>
            </div>


            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Vastaa</h3>
                </div>
                <div class="panel-body">
                    <form method="POST" th:action="@{~/alue/{alue}/keskustelu/{id}(id=${keskusteluId},alue=${alueId})}">
                        <div class="form-group">
                            <label for="nimimerkki">Nimimerkki</label>
                            <input type="text" class="form-control" id="nimimerkki" name="nimimerkki" placeholder="Anna nimimerkki"></input>
                        </div>
                        <div class="form-group">
                            <label for="sisalto">Viesti</label>
                            <textarea class="form-control" rows="7" id="sisalto" name="sisalto" placeholder="Anna viestisi"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Lähetä</button>
                    </form>
                </div>
            </div>
        </div>


        <footer class="footer">
            <p class="text-muted">tikape-foormi 2017</p>
        </footer>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="/js/bootstrap.min.js"></script>
    </body>

</html>